<!DOCTYPE html>
<html>
    <head>
        <h1>LOGINTESTER.COM</h1>
        {% block head %}
             {% block title %} {% endblock %}
        {% endblock %}
        <title></title>
    </head>
    <body>

        <font color="red"> {% set msgs = get_flashed_messages() %}
            {% for each in msgs %}
                {{each}}
                <br>
            {% endfor %}
        </font>

        {% block content %}
        {% endblock %}

        <p style="position: absolute; bottom: 5px"> &copy; Mohtasim Howlader and Sarar Aseer. Don't copy this or you go to jail. </p>
    </body>
</html>
